<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {558.99997329711914, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-10-09 10:55:54 +0000</string>
	<key>Creator</key>
	<string>Jeppe Andersen</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>281</integer>
			</dict>
			<key>ID</key>
			<integer>291</integer>
			<key>Points</key>
			<array>
				<string>{108, 405.56321839080459}</string>
				<string>{293, 403.43678160919541}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>288</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>284</integer>
			</dict>
			<key>ID</key>
			<integer>290</integer>
			<key>Points</key>
			<array>
				<string>{108, 381.5}</string>
				<string>{146, 357}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>288</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>289</integer>
			<key>Points</key>
			<array>
				<string>{108, 266}</string>
				<string>{153, 291}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{32, 369}, {76, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>288</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.036096099999999999, 0.72727299999999995}</string>
				<string>{-0.0107245, -0.52272700000000005}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.42137999999999998, -0.54545500000000002}</string>
				<string>{-0.27673799999999998, 0.5}</string>
				<string>{0.28275400000000001, 0.57954600000000001}</string>
				<string>{0.27673799999999998, -0.56818199999999996}</string>
				<string>{-0.28275400000000001, -0.54545500000000002}</string>
				<string>{-0.13548199999999999, -0.51136400000000004}</string>
				<string>{0.13505500000000001, -0.55681800000000004}</string>
				<string>{0.38702700000000001, -0.53409099999999998}</string>
				<string>{-0.43917099999999998, 0.56818299999999999}</string>
				<string>{-0.17446500000000001, 0.625}</string>
				<string>{0.090240500000000001, 0.55681899999999995}</string>
				<string>{0.46925099999999997, 0.65909099999999998}</string>
				<string>{-0.58957199999999998, -0.31818200000000002}</string>
				<string>{-0.78810199999999997, 0.36363699999999999}</string>
				<string>{0.709893, -0.36363600000000001}</string>
				<string>{0.52941099999999996, 0.28409099999999998}</string>
				<string>{0, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{42, 199}, {76, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>287</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.036096099999999999, 0.72727299999999995}</string>
				<string>{-0.0107245, -0.52272700000000005}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.42137999999999998, -0.54545500000000002}</string>
				<string>{-0.27673799999999998, 0.5}</string>
				<string>{0.28275400000000001, 0.57954600000000001}</string>
				<string>{0.27673799999999998, -0.56818199999999996}</string>
				<string>{-0.28275400000000001, -0.54545500000000002}</string>
				<string>{-0.13548199999999999, -0.51136400000000004}</string>
				<string>{0.13505500000000001, -0.55681800000000004}</string>
				<string>{0.38702700000000001, -0.53409099999999998}</string>
				<string>{-0.43917099999999998, 0.56818299999999999}</string>
				<string>{-0.17446500000000001, 0.625}</string>
				<string>{0.090240500000000001, 0.55681899999999995}</string>
				<string>{0.46925099999999997, 0.65909099999999998}</string>
				<string>{-0.58957199999999998, -0.31818200000000002}</string>
				<string>{-0.78810199999999997, 0.36363699999999999}</string>
				<string>{0.709893, -0.36363600000000001}</string>
				<string>{0.52941099999999996, 0.28409099999999998}</string>
				<string>{0, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>282</integer>
			</dict>
			<key>ID</key>
			<integer>283</integer>
			<key>Points</key>
			<array>
				<string>{328.73811814607393, 366}</string>
				<string>{323.11397948225772, 274}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>281</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>281</integer>
			</dict>
			<key>ID</key>
			<integer>285</integer>
			<key>Points</key>
			<array>
				<string>{222, 341.97436392514129}</string>
				<string>{293, 383.03172810106315}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>284</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>282</integer>
			</dict>
			<key>ID</key>
			<integer>286</integer>
			<key>Points</key>
			<array>
				<string>{222, 295.67709145036252}</string>
				<string>{287, 254.07211629966679}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>284</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{146, 283}, {76, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>284</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.036096099999999999, 0.72727299999999995}</string>
				<string>{-0.0107245, -0.52272700000000005}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.42137999999999998, -0.54545500000000002}</string>
				<string>{-0.27673799999999998, 0.5}</string>
				<string>{0.28275400000000001, 0.57954600000000001}</string>
				<string>{0.27673799999999998, -0.56818199999999996}</string>
				<string>{-0.28275400000000001, -0.54545500000000002}</string>
				<string>{-0.13548199999999999, -0.51136400000000004}</string>
				<string>{0.13505500000000001, -0.55681800000000004}</string>
				<string>{0.38702700000000001, -0.53409099999999998}</string>
				<string>{-0.43917099999999998, 0.56818299999999999}</string>
				<string>{-0.17446500000000001, 0.625}</string>
				<string>{0.090240500000000001, 0.55681899999999995}</string>
				<string>{0.46925099999999997, 0.65909099999999998}</string>
				<string>{-0.58957199999999998, -0.31818200000000002}</string>
				<string>{-0.78810199999999997, 0.36363699999999999}</string>
				<string>{0.709893, -0.36363600000000001}</string>
				<string>{0.52941099999999996, 0.28409099999999998}</string>
				<string>{0, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{293, 366}, {76, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>281</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.036096099999999999, 0.72727299999999995}</string>
				<string>{-0.0107245, -0.52272700000000005}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.42137999999999998, -0.54545500000000002}</string>
				<string>{-0.27673799999999998, 0.5}</string>
				<string>{0.28275400000000001, 0.57954600000000001}</string>
				<string>{0.27673799999999998, -0.56818199999999996}</string>
				<string>{-0.28275400000000001, -0.54545500000000002}</string>
				<string>{-0.13548199999999999, -0.51136400000000004}</string>
				<string>{0.13505500000000001, -0.55681800000000004}</string>
				<string>{0.38702700000000001, -0.53409099999999998}</string>
				<string>{-0.43917099999999998, 0.56818299999999999}</string>
				<string>{-0.17446500000000001, 0.625}</string>
				<string>{0.090240500000000001, 0.55681899999999995}</string>
				<string>{0.46925099999999997, 0.65909099999999998}</string>
				<string>{-0.58957199999999998, -0.31818200000000002}</string>
				<string>{-0.78810199999999997, 0.36363699999999999}</string>
				<string>{0.709893, -0.36363600000000001}</string>
				<string>{0.52941099999999996, 0.28409099999999998}</string>
				<string>{0, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{287, 200}, {76, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>282</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.036096099999999999, 0.72727299999999995}</string>
				<string>{-0.0107245, -0.52272700000000005}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.42137999999999998, -0.54545500000000002}</string>
				<string>{-0.27673799999999998, 0.5}</string>
				<string>{0.28275400000000001, 0.57954600000000001}</string>
				<string>{0.27673799999999998, -0.56818199999999996}</string>
				<string>{-0.28275400000000001, -0.54545500000000002}</string>
				<string>{-0.13548199999999999, -0.51136400000000004}</string>
				<string>{0.13505500000000001, -0.55681800000000004}</string>
				<string>{0.38702700000000001, -0.53409099999999998}</string>
				<string>{-0.43917099999999998, 0.56818299999999999}</string>
				<string>{-0.17446500000000001, 0.625}</string>
				<string>{0.090240500000000001, 0.55681899999999995}</string>
				<string>{0.46925099999999997, 0.65909099999999998}</string>
				<string>{-0.58957199999999998, -0.31818200000000002}</string>
				<string>{-0.78810199999999997, 0.36363699999999999}</string>
				<string>{0.709893, -0.36363600000000001}</string>
				<string>{0.52941099999999996, 0.28409099999999998}</string>
				<string>{0, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.eps</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-12-14 08:11:38 +0000</string>
	<key>Modifier</key>
	<string>Jeppe Andersen</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{594.99997329711914, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{373, 67}, {927, 811}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-117, 0}, {792, 656}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
