# Git ignore these files #
*.class
*.tps
*.tcp
*.bbl
*.blg
*.aux
*.brf
*.out
*.pdfsync
*.jop
*.jop.link.txt
*.jop.txt
*.toc
*.dfb_latexmk
*.fls
*.log
*.synctex.gz

/Code/Watchdog/build/
/Minireport/Report.pdf
*.fdb_latexmk
Report.fdb_latexmk
/Minireport/Report.fdb_latexmk