# Git please ignore these files #

## Files ##
*.class
*.tps
*.tcp
*.bbl
*.blg
*.aux
*.brf
*.out
*.pdfsync
*.jop
*.jop.link.txt
*.jop.txt
*.toc
*.dfb_latexmk
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.orig
*.DS_STORE


## Folders ##
bin/
build/

## Absolute files ##
/Minireport/Report.pdf
/Report/Report.pdf

/Code/LibCSP/.classpath
/Code/LibCSP/.externalToolBuilders/New_Builder.launch
Code/LibCSP/src/system/SCJApplication.java.BACKUP.1231.java
Code/LibCSP/src/system/SCJApplication.java.BASE.1231.java
Code/LibCSP/src/system/SCJApplication.java.LOCAL.1231.java
Code/LibCSP/src/system/SCJApplication.java.REMOTE.1231.java
